<h3>Playlists</h3>
{{#each model as |playlist|}}
  <h2>{{playlist.name}}</h2>
  <p>Location: {{playlist.city}}</p>
  <p>Generated At: {{playlist.created_at}}</p>
  <p>Tags: </p>
  {{#each playlist.tags as |t|}}
    <p>{{t}}</p>
  {{/each}}
{{/each}}

{{outlet}}
