<h3>Playlists</h3>
{{#each model as |playlist|}}
  <h2>{{playlist.name}}</h2>
  <p>Location: {{playlist.city}}</p>
  <p>Generated: {{playlist.createdAt}}</p>
  <p>Date Range: {{playlist.dateRangeAbr}}</p>
{{/each}}

{{outlet}}
